@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  font-family: "Poppins", sans-serif;
  --off-white-light: #fffcf2;
  --blue: #00003c;
  --blue-light: #64648c;
  --beige: #f7f0dc;
  --teal: #1ed2af;
  --red: #d00414;
  --light-beige: #f7ede8;
  --yellow: #edc14b;
  --white: white;
  --beige-background: rgba(240, 220, 210, 0.5);
  --offwhite: #fef9e6;
  --transparent: transparent;

  background: var(--blue);
  color: var(--offwhite);
}

.app, .App {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.greeting {
  display: flex;
  align-items: center;
}

.greeting img {
  width: 50px;
}

.social-links a {
  margin-right: 1rem;
}

.about-me {
  background: var(--offwhite);
  color: var(--blue);
  padding: 2rem;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.about-me img {
  width: 200px;
  border-radius: 30px;
  margin-right: 2rem;
}

li::marker {
  display: flex;
  align-items: center;
  justify-content: center;
}

li::before {
  content: url("./assets/check.svg");
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-right: 1rem;
}
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

li:first-child {
  padding-top: 0;
}

.helpful-resource:last-child {
  margin-bottom: 2rem;
}

.helpful-resource {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.helpful-resource,
.helpful-resource a {
  color: var(--offwhite);
  text-decoration: none;
  display: flex;
}

.helpful-resource img {
  margin-left: 0.5rem;
}

.copy {
  cursor: pointer;
}

footer {
  padding: 0 3rem 3rem 3rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--offwhite);
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

footer ul li::before {
  content: none;
}

footer li,
footer li:first-child {
  padding: 1rem;
}

footer a {
  color: var(--offwhite);
  text-decoration: none;
}
